GEMINI_API_KEY=
OPENAI_API_KEY=
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.5-flash
EMBEDDINGS_PROVIDER=gemini
EMBEDDING_MODEL=models/gemini-embedding-001
RAG_SCORE_THRESHOLD=0.75

# Local UI ports
RAG_API_PORT=8000
JENKINS_PORT=8081
JENKINS_AGENT_PORT=50000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
SONARQUBE_PORT=9000
