# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual env
.venv/
venv/

# Build artifacts
*.egg-info/
dist/
build/

# Local vector DB and runtime
rag-app/.chroma/
rag-app/.qdrant/

# IDE
.vscode/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

.env